<div class="mercury">
  <img src="/img/mercury.svg" alt="mercury's moods" class="mercury-title">
  <a href="#post" class="down"><img src="/img/down.svg" alt="Scroll down" /></a>
</div>

<div class="mercury mercury-tint" id="post">
  <form class="mercury-form">
    <label for="mood">In the mood for:</label>
    <textarea name="description" rows="6" cols="40" id="quoteValue"></textarea>
    <button type="button" name="button" onclick="writeUserData()">Send</button>
  </form>
  <a href="#mood" class="down"><img src="/img/down.svg" alt="Scroll down" /></a>
</div>



<div class="mercury" id="mood">
  <p class="mercury-mood" id="getQuote"></p>
</div>
