<!-- <% var n = 0;
for(var key in public.mercurysmoods._data){
  n++ %>
  <div class="mercury">
    <p class="mercury-mood"><%= public.mercurysmoods._data[key].description %></p>
  </div>
<% } %> -->
