.april16 {
  background-blend-mode: screen;
  background-color: $dimgrey;
  background-image: url('../img/girl03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5%;

  @include desktop {
    main {
      display: flex;
    }
  }

  q {
    @extend %type--serif;
    display: block;
    flex-basis: 50%;
    flex-grow: 3;
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;

    @include desktop {
      padding-right: 100px;
    }
  }

  .april16-main-article {
    flex-basis: 50%;
    flex-grow: 3;

    p {
      font-weight: 600;
      line-height: 1.5;
      padding-bottom: 30px;
    }
  }
}
