.april17 {
  h1,
  h2 {
    @extend %type--condensed;
    font-weight: 400;
    letter-spacing: 1.5;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    padding-top: 50px;
  }

  h2 {
    color: $dimgrey;
    font-size: 1.2rem;
  }

  .words {
    letter-spacing: 2;
    margin-top: 20%;
    text-align: center;

    @include desktop {
      clear: both;
    }
  }
}

.april17-container {

  @include desktop {
    margin: auto;
    position: relative;
    width: 50em;

    &::after {
      clear: both;
    }

    .shape {
      float: right;
      height: 300px;
      margin-right: 340px;
      margin-top: 186px;
      shape-margin: 30px;
      shape-outside: border-box;
      width: 100px;
    }
  }

  .april17-pone {
    @extend %type--serif;
    margin-top: 50px;

    @include desktop {
      margin-left: 60px;
      text-align: justify;
      width: 25em;
    }

    &::first-letter {
      float: left;
      font-size: 7rem;
      font-weight: 700;
      margin-bottom: 0;
      margin-right: 10px;
      margin-top: 0;
      text-transform: uppercase;
    }
 }

  .april17-ptwo {
    @extend %type--serif;
    margin-top: 50px;

    @include desktop {
      position: absolute;
      right: 0;
      text-align: justify;
      top: 130px;
      width: 25em;
    }
  }
}
