<div class="days">
  <h1>Your age in days</h1>
  <form class="days-form" action="index.html" method="post">
    <label for="dob">Enter your birth date</label>
    <input type="date" class="days-form-dob" name="dob" id="dob" value="00">
    <input type="button" class="days-form-submit" name="submit" value="Submit">
  </form>
  <h1 id="res"></h1>
</div>
