<h1 class="about__title">About</h1>
<p class="about__main-desc">
  Here I try to recreate several magazines layout on the web with CSS only.
  This is not about design, I don't translate the magazines layout to the web, I just plainly copy them and I don't use real content.
</p>
