<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="http://lokeshdhakar.com/projects/color-thief/js/color-thief.js"></script>

<body>

  <div class="header">
    <h1>Color palette from image </h1>
    <h2> using <a href="http://lokeshdhakar.com/projects/color-thief">color thief</a></h2>
    <p>Refresh to get a new image</p>
  </div>

  <div class="main">
    <div class="img-container">
      <img src="/img/skater_tiny.jpg" alt="Example image" class="image" crossorigin="" />
    </div>

    <div class="content">
    <h1>Bluth Ipsum</h1>
    <p>You need to do more with Rita. Believe me, I'd like to. They want to break his legs. It's a good thing he's already got that little scooter. They don't appreciate him. It's his glasses… they make him look like a lizard. Plus he's self-conscious. A Colombian cartel that WON'T kidnap and kill you.</p>
  </div>
  </div>


<script>

  var colorThief = new ColorThief();

  var image = $("img.image")[0];

  function getRandomImage() {
    var images = ["img1.jpeg","img2.jpeg","img3.jpeg"];
    return images[Math.floor(Math.random() * images.length)];
  }

  $(".image").attr('src', '/img/palette/' + getRandomImage());

  $(image).load(function(data) {

    var color = colorThief.getPalette(image, 2);

    var color1 = 'rgb(' + color[0] + ')';
    var color2 = 'rgb(' + color[1] + ')';

    $('.main').css('background', 'linear-gradient(to right,' + color1 + ',' + color2 + ')');

    $('a').css('color', color1);

  });


</script>




</body>
