.error-page {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;

  h1,
  h2 {
    @extend %type--sans;
    color: $white;
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    color: $white;
    text-align: center;
  }

  a {
    color: $white;
    font-weight: 700;
    text-decoration: underline;
  }
}
