.header-container {
  background: $primary;
  display: grid;
  grid-template-columns: 1fr;
  height: 20vh;
  padding: 0 20px;

  @include tablet-up {
    grid-template-columns: 1fr 1fr;
    padding: 0 90px;
  }
}

.header-title {
  align-items: center;
  color: $white;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;

  &:hover {
    color: $white;

    #logo {
      fill: $white;
    }
  }
}

.social-media {

  @include tablet-up {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: $white;
    display: inline-block;
    font-weight: 700;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-divider {
    color: $white;
    display: inline-block;
    margin-left: 10px;
  }
}

.global-nav {
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;

  &__item {
    display: inline-block;
    list-style: none;
    padding: 1rem;
  }
}

.logo {
  margin-right: 20px;
  width: 64px;
}

.slogan-title {
  padding: 30px;
  text-align: center;

  @media (min-width: 576px) {
    padding: 50px 100px;
  }
}
