.reader {
  font-size: 1.2em;
  padding: 40px;

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  img, svg {
    display: none;
  }

  h1, h2, h3, p {
    color: $black;
  }

  .button {
    background: $white;
    color: $black;
    display: block;
    font-size: .8em;
    margin-bottom: 20px;
    padding: 0;
    text-decoration: underline;
  }

  .header-container {
    background: $white;
    padding: 0;
  }

  .header-title {
    color: $black;
    display: inline-block;
    margin-bottom: 20px;
  }

  .home-container {
    background: $white;
    padding: 0;

    @include desktop {
      display: block;
    }
  }

  .snippet {
    width: 100%;

    .title {
      border-bottom: 0;
      color: $blue;
    }
  }

  .twitter {
    display: none;
  }
}
