*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
header,
nav,
div,
section,
ol,
aside,
h1,
h2 {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
}
