@import 'color';
@import 'mixins';


main {
  padding: 0 30px;
}

.main {
  box-shadow: 0 0 100px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    display: flex;
    width: 960px;

    .img-container {
      width: 40%;
    }
  }
}

.header {
  box-sizing: border-box;
  color: $dimgrey;
  padding: 30px 0;
  text-align: center;
}

.image {
  display: block;
  height: 270px;
  object-fit: cover;
  width: 100%;
}

.content {
  box-sizing: border-box;
  color: $white;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 30px 30px;
  text-align: left;

  @include desktop {
    padding: 0 30px;
    width: 60%;
  }

  h1 {
    color: $white;
    font-weight: 300;
    margin: 30px auto;
    text-align: left;
  }
}
