// setup
@import 'color';

.reader {
  font-size: 2em;
  a {
    color: $blue;
    text-decoration: underline;
  }

  img, svg {
    display: none;
  }

  h1, h2, h3, p {
    color: $black;
  }

  .header-container {
    background: $white;
    display: block;
    padding: 0;
  }
}
