<html lang="en">
  <meta charset="utf-8" />
  <head>
    <title>bbyms</title>
    <meta name="description" content="" />
    <%- partial("_partials/_head") %>
  </head>
  <body class="home">
    <%- partial("_partials/_header") %>
    <main>
      <%- yield %>
    </main>
    <%- partial("_partials/_footer") %>
  </body>
</html>
