<div class="offline">

<svg version="1.1" id="no-connection" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200px" height="200px" viewBox="197.64 0 200 200" enable-background="new 197.64 0 200 200" xml:space="preserve" aria-labelledby="title desc" role="img">
   <title id="title">No connection icon by Kaique Amorim</title>
   <desc id="desc">A wi-fi icon with an x mark</desc>
<g>
	<path d="M256.963,85.779c-2.646,0-4.631-0.662-6.614-2.646c-3.969-3.968-3.969-9.26,0-13.229
		c12.566-12.567,29.764-19.842,47.622-19.842c17.859,0,34.394,7.275,46.961,19.181c3.969,3.968,3.969,9.26,0,13.229
		c-3.969,3.968-9.26,3.968-13.229,0c-9.26-8.599-21.166-13.89-34.394-13.89c-13.229,0-25.135,5.292-34.395,13.89
		C261.593,85.118,259.608,85.779,256.963,85.779z"/>
	<path d="M361.798,54.692c-2.646,0-4.63-0.662-6.614-2.646c-15.213-15.212-35.717-23.811-57.544-23.811s-42.331,8.599-57.544,23.811
		c-3.968,3.969-9.26,3.969-13.229,0c-3.968-3.968-3.968-9.26,0-13.229c18.521-18.52,43.654-29.764,70.772-29.764
		s51.591,10.583,70.772,29.764c3.969,3.969,3.969,9.26,0,13.229C366.428,54.031,363.782,54.692,361.798,54.692z"/>
	<path d="M265.23,190.946c-2.646,0-4.63-0.662-6.614-2.646c-3.968-3.968-3.968-9.26,0-13.228l64.819-64.819
		c3.969-3.969,9.26-3.969,13.229,0c3.969,3.968,3.969,9.26,0,13.228l-64.819,64.819C269.86,190.284,267.877,190.946,265.23,190.946z
		"/>
	<path d="M330.049,190.946c-2.646,0-4.63-0.662-6.614-2.646l-64.819-64.819c-3.968-3.968-3.968-9.26,0-13.228
		c3.969-3.969,9.261-3.969,13.229,0l64.819,64.819c3.969,3.968,3.969,9.26,0,13.228
		C335.341,190.284,332.695,190.946,330.049,190.946z"/>
</g>
</svg>

  <h1>Sorry! It seems like you have no connection</h1>
  <a href="https://thenounproject.com/term/offline/102678/">Icon by Kaique Amorim</a>
</div>
