<header>
  <div class="header-container">
    <!-- <button class="button button--primary" id="reader">Toggle reader view. Click here.</button> -->
    <a href="/" class="header-title">
      <svg width="94px" height="64px" viewBox="0 0 94 64" class="logo">
          <title>B.</title>
          <desc>Logo bbyms</desc>
          <defs></defs>
          <g id="logo" fill="#FFFFFF">
              <path d="M63.5532341,33.371527 L55.3231174,33.371527 L55.3231174,55.039845 C55.3231174,56.6853329 56.4204377,57.7824684 58.0666332,57.7824684 L63.3701321,57.7824684 C71.6002488,57.7824684 76.1722007,54.3079906 76.1722007,45.8970493 C76.1722007,37.3939264 71.4171465,33.371527 63.5532341,33.371527 M62.5472496,6.21710096 L58.0666332,6.21710096 C56.4204377,6.21710096 55.3231174,7.31423646 55.3231174,8.95972439 L55.3231174,27.1539952 L61.7243671,27.1539952 C69.3142727,27.1539952 74.3433337,24.8684041 74.3433337,16.4566013 C74.3433337,7.95433986 69.496944,6.21710096 62.5472496,6.21710096 M63.3701321,64 L31.9140514,64 L31.9140514,60.1593798 C37.7664255,59.7023477 39.1377527,58.9713549 39.1377527,53.7596382 L39.1377527,10.8800346 C39.1377527,7.40598742 36.4860033,6.21710096 32.4624961,6.21710096 L27.1585663,6.21710096 C14.1738266,6.21710096 7.04146086,13.1656257 6.67525664,22.3997415 C6.67525664,29.8057291 11.2476394,33.9198795 15.453818,33.9198795 C17.9228961,33.9198795 19.0202163,32.7314236 19.0202163,30.8115443 C19.0202163,29.7144088 18.6544428,28.891665 18.1973339,28.0684902 C17.7402247,27.0626751 17.2831158,25.9655396 17.2831158,24.319621 C17.2831158,19.7484386 20.6664119,17.0058152 24.5985836,17.0058152 C30.17652,17.0058152 32.7369339,21.8513893 32.7369339,26.3312513 C32.7369339,34.4686625 26.1530128,40.5026922 16.8255758,40.5026922 C7.31546777,40.5026922 0,34.0107689 0,22.3997415 C0,8.22873152 11.796515,0 27.1585663,0 L61.6326007,0 C80.6528171,0 91.7177851,3.29183711 91.7177851,16.4566013 C91.7177851,23.9543399 87.0540668,28.3428819 78.7326143,30.2627612 C88.2431532,32.4570322 93.5466521,37.668318 93.5466521,45.8970493 C93.5466521,59.062675 82.4821149,64 63.3701321,64"></path>
          </g>
      </svg>
      <span>
        CSS playground
      </span>
    </a>

    <div class="social-media">
      <a href="http://twitter.com/bbyms">tw</a>
      <span class="social-media-divider">/</span>
      <a href="http://instagram.com/bbyms">ig</a>
      <span class="social-media-divider">/</span>
      <a href="http://vimeo.com/bbyms">vm</a>
    </div>
  </div>

</header>
