<html>
  <meta charset="utf-8" />
  <head>
    <title>Barbara Mendes</title>
    <meta name="description" content="" />
    <%- partial("../_partials/_head") %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <%- yield %>
</html>
