<section class="april13">
  <h1>Contents</h1>
  <section class="april13--items">
    <% var n = 0;
          for(var key in public.samples._data){
          n++ %>
          <div>
            <h2><%= public.samples._data[key].title %></h2>
            <p><%= public.samples._data[key].description %></p>
            <a href="/samples/<%= key %>.html" class="red"><%= public.samples._data[key].byline %></a>
          </div>
    <% } %>
  </section>
</section>
