  <body>
    <%- partial("_back") %>
    <main class="april17">
      <h2>And such was their hunger for land that they took the land--stole Sutter’s land</h2>
      <h1>Guerrero’s land</h1>
      <div class="april17-container">
        <div class="shape"></div>
        <p class="april17-pone">and its land to Mexicans; and a horde of tattered feverish Americans poured in.  And such was their hunger for land that they took the land--stole Sutter’s land, Guerrero’s land, took the grants and broke them up and growled and quarreled over them, those frantic hungry men; and they guarded with guns the land they had stolen. They put up housed and barns, they turned the earth and planted crops. And these things were possession, and possession was ownership. The Mexicans were weak and fled.  They could not resist, because they wanted nothing in the world as frantically as the Americans wanted land.
        </p>
        <p class="april17-ptwo"> Then, with time, the squatters were no longer squatters, but owners; and their children grew up and had children on the land.  And the hunger was gone from them, the feral hunger, the gnawing, tearing hunger for land, for water and earth and the good sky over it, for the green thrusting grass, for the swelling roots. Now farming became industry, and the owners followed Rome, although they did not know it.  They imported slaves, although they did not call them slaves: Chinese, Japanese, Mexicans, Filipinos.  They ice on rice and beans, the business men said.  They don’t need much.  They couldn’t know what to do with good wages.  Why, look how they live.  Why, look what they eat.  And if they get funny--deport them.</p>
      </div>
      <p class="words">
        <span class="dim">Words</span>
        John Steinbeck
      </p>

    </main>
    <%- partial("../_partials/_footer") %>
</body>
