<section class="table-of-contents">
  <h1>Contents</h1>
  <section class="table-of-contents--items">
    <% var n = 0;
          for(var key in public.samples._data){
          n++ %>
          <div>
            <h2><%= public.samples._data[key].title %></h2>
            <p><%= public.samples._data[key].description %></p>
            <p class="red"><%= public.samples._data[key].byline %></p>
          </div>
    <% } %>
  </section>
</section>
