  <body>
    <%- partial("_back") %>
    <div class="may2">
    <main>

      <div class="box">
        <p class="lead">
          Yet you could feel a vibration in the air, a sense of hastening. It had started with the moon, inaccessible poem that it was. Now men had walked upon it, rubber treads on a pearl of the gods.
        </p>

        <p>
          Perhaps it was an awareness of time passing, the last summer of the decade. Sometimes I just wanted to raise my hands and stop. But stop what? Maybe just growing up.
          The moon was on the cover of Life magazine, but the headlines of every newspaper were emblazoned with the brutal murders of Sharon Tate and her companions.
          <span class="words">
            -- Patti Smith
          </span>
        </p>
      </div>

    </main>
    <aside>
      <img src="../img/justkids.svg" alt="Just kids" />
    </aside>
  </div>
    <%- partial("../_partials/_footer") %>
</body>
