<body class="may8">

  <header>
    <%- partial("_back") %>
    <div class="lead">
      <h1>JAYA NICELY</h1>
      <h2>art director. illustrator. designer. </h2>
      <p>Her work has a strong passion for the documentation of counterculture, people and the environment that surrounds her <a href="http://www.jayanicely.com" target="_blank">jayanicely.com</a></p>
    </div>
  </header>

  <main>
    <div class="title">
      The
      <br>skater
      <span class="ident">scroll</span>
    </div>
    <p>
         The skater scroll is an exploration of skate parks in and around Los Angeles. It focuses on four parks in Venice beach, Huntington beach, Highland Park and Duarte and melds them together into one continuous piece reaching fifteen feet in length. It documents the feeling and uniqueness of each environment as well as the different types of skaters that choose to occupy them.

It hung in the Art Center College of Design gallery from April to August 2014 and was featured in Issue 8 (Los Angeles) of Boat , a travel and lifestyle magazine centering on a new city every issue.
    </p>
  </main>

  <%- partial("../_partials/_footer") %>
</body>
