<div class="tecnometer">
  <svg version="1.1" id="tecnometer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="520px" height="320px" viewBox="0 0 520 320" enable-background="new 0 0 520 320" xml:space="preserve">
    <defs>
      <linearGradient id="tempGradient">
        <stop offset="0%" stop-color="rgb(30,59,191)" />
        <stop offset="100%" stop-color="rgb(223,51,71)" />
      </linearGradient>
    </defs>
  <polygon id="pointer" points="187.47,45.832 212.592,86.035 237.715,45.832 "/>
  <g id="outline">
  	<path fill="#FFFFFF" d="M114.79,274.165l-0.001,5h-0.004c-46.199,0-83.785-37.58-83.785-83.772c0-46.19,37.588-83.77,83.79-83.77
  		c28.395,0,54.312,14.003,69.885,37.604H442.82c25.466,0,46.184,20.708,46.184,46.164c0,25.459-20.718,46.172-46.184,46.172H184.669
  		c-15.576,23.6-41.491,37.603-69.879,37.603V274.165z"/>
  	<path fill="#ebebeb" d="M114.789,116.623c28.4,0,53.289,15.039,67.142,37.604H442.82c22.754,0,41.184,18.433,41.184,41.164
  		c0,22.754-18.431,41.172-41.184,41.172H181.926c-13.852,22.558-38.742,37.604-67.142,37.603c-43.527,0-78.785-35.265-78.785-78.772
  		C35.999,151.88,71.257,116.623,114.789,116.623 M114.789,106.623c-48.959,0-88.79,39.822-88.79,88.77
  		c0,48.949,39.829,88.772,88.785,88.772c15.442,0.001,30.655-4.031,43.992-11.661c11.27-6.447,21.041-15.35,28.527-25.941H442.82
  		c28.223,0,51.184-22.956,51.184-51.172c0-28.212-22.961-51.164-51.184-51.164H187.31c-7.486-10.595-17.257-19.497-28.529-25.944
  		C145.445,110.655,130.233,106.623,114.789,106.623L114.789,106.623z"/>
  </g>
  <path id="temperature" d="M175.291,166.078l-3.467-5.647c-12.28-20.017-33.597-31.959-57.04-31.959
  	c-36.91,0-66.939,30.014-66.939,66.92l-0.001-0.002c0,36.909,30.03,66.932,66.945,66.932c23.426,0,44.76-11.943,57.053-31.963
  	l3.454-5.646l285.204-0.078V166"/>
  <path id="steps" d="M206.677,101.974h11.85v36.307v0.001h-11.85V101.974z M436.889,101.976v36.307h11.848h0.003v-36.307H436.889
  	L436.889,101.976z M379.346,138.283h0.002h11.844v-24.631h-11.846V138.283z M264.232,138.279v0.004h11.845V113.65h-11.845V138.279z
  	 M321.777,138.284h11.851v-36.308h-11.851V138.284z"/>
  </svg>
  <p>Icon created by Ashley Worobec</p>


</div>
